1. What are data structures, and why are they important?

Data structures are ways of organizing and storing data in a computer so it can be accessed and modified efficiently. They're important because they optimize operations like searching, insertion, deletion, and data management.

2. Explain the difference between mutable and immutable data types with examples.

Mutable: Can be changed after creation. Example: List → my_list = [1, 2, 3]

Immutable: Cannot be changed after creation. Example: String → name = "Ashmi"

3. What are the main differences between lists and tuples in Python.

Lists are mutable, tuples are immutable.

Lists use [], tuples use ().

Tuples are faster and used for fixed collections of data.

4. Describe how dictionaries store data.

Dictionaries store data in key-value pairs using a hash map under the hood, allowing fast retrieval by key.

5. Why might you use a set instead of a list in Python?

Sets do not allow duplicate values and offer faster membership testing than lists.

6. What is a string in Python, and how is it different from a list?

A string is an immutable sequence of characters, whereas a list is a mutable sequence of elements (which can include strings).

7. How do tuples ensure data integrity in Python?

Tuples are immutable, so their data cannot be accidentally modified, ensuring data integrity.

8. What is a hash table, and how does it relate to dictionaries in Python?

A hash table is a data structure that maps keys to values using a hash function. Python’s dictionary uses this internally.

9. Can lists contain different data types in Python?

Yes.
Example: my_list = [1, "hello", 3.14, True]

10. Explain why strings are immutable in Python?

For efficiency, safety, and optimization; changing a string creates a new one rather than modifying the existing one.

11. What advantages do dictionaries offer over lists for certain tasks?

(1) Faster lookups using keys
(2) Organizes data in key-value pairs
(3) More readable when data has named labels

12. Describe a scenario where using a tuple would be preferable over a list.

Storing coordinates (x, y), RGB color values, or fixed configuration values that shouldn't change.

13.  How do sets handle duplicate values in Python?

Sets automatically eliminate duplicates.
Example: set([1, 2, 2, 3]) → {1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries?

In lists: checks if value is in the list.

In dictionaries: checks if the key exists.

15. Can you modify the elements of a tuple? Explain why or why not?

No. Tuples are immutable, meaning once created, they cannot be changed.

16. What is a nested dictionary, and give an example of its use case?

A dictionary inside another dictionary.
Example:
student = {"name": "Ashmi", "marks": {"math": 90, "science": 95}}

17. Describe the time complexity of accessing elements in a dictionary.

Average case: O(1) (constant time) due to hashing.

18. In what situations are lists preferred over dictionaries?

When data is ordered, indexed by position, or when key-value access isn’t needed.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Prior to Python 3.7, dictionaries did not maintain insertion order. Retrieval is by key, not by position.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

List: retrieve by index

Dictionary: retrieve by key

Practical Questions:

1. Write a code to create a string with your name and print it?

In [1]:
name = "Ashmi"
print(name)

Ashmi

2. Write a code to find the length of the string "Hello World"?

In [2]:
print(len("Hello World"))

11

3. Write a code to slice the first 3 characters from the string "Python Programming"?

In [3]:
print("Python Programming"[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [4]:
print("Hello".upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [5]:
print("I like apple".replace("apple", "orange"))

I like orange

6. Create a list with numbers 1 to 5 and print it

In [6]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [7]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
my_list =  ['a', 'b', 'c', 'd']
print(my_list[1])

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [8]:
l = [10,20,30,40,50]
l.reverse()
print(l)

[50, 40, 30, 20, 10]

In [9]:
l = [10,20,30,40,50]
print(l[::-1])

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [10]:
tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [11]:
tuple = ('red', 'green', 'blue', 'yellow')
print(tuple[-2])

blue

13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [12]:
tuple = (10, 20, 5, 15)
print(min(tuple))

5

4. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [13]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [14]:
fruit = ("apple", "kiwi", "orange")
print ("kiwi" in fruit)

True

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [15]:
set = {'a','b','c'}
print(set)

{'c', 'a', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [16]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
set = {1, 2, 3, 4}
s.remove(4)
print(s)

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [17]:
union = {1, 2, 3} | {3, 4, 5}
print(union)

{1, 2, 3, 4, 5}

In [19]:
u = {1,2,3}.union({3,4,5})
print(u)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [20]:
s = {1,2,3} & {2,3,4}
print(s)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [21]:
d = {"name": "Ashmi", "age": 20, "city": "New York"}
print(d)

{'name': 'Ashmi', 'age': 20, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [22]:
d= {'name': 'John', 'age': 25}
d["country"] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [23]:
d = {'name': 'Alice', 'age': 30}
print(d["name"])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [24]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d["age"]
print(d)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [25]:
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [26]:
lst = [1, 2, 3]
tup = (4, 5, 6)
dct = {"a": 1, "b": 2}
print(lst, tup, dct)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [27]:
import random
rand_nums = random.sample(range(1, 101), 5)
rand_nums.sort()
print(rand_nums)

[25, 34, 39, 72, 86]

28. Write a code to create a list with strings and print the element at the third index.

In [28]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])

date

29. Write a code to combine two dictionaries into one and print the result.

In [29]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
combined = {**d1, **d2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [39]:
my_list = ["apple", "banana", "cherry", "apple"]
my_unique_set = set(my_list)
print(my_unique_set)

TypeError: 'set' object is not callable